<div class = "bottom-nav-bug"></div>
<footer>
    <div class = "bottom-nav">
        <ul class = "bottom-nav-ul">
            <li class="income-li"><a href = "{:U('Income/index')}"><i class = "fa fa-rmb"></i> Income</a></li>
            <li class="cost-li"><a href = "{:U('Cost/index')}"><i class = "fa fa-rmb"></i> Cost</a></li>
            <li class="balance-li"><a href = "{:U('Balance/index')}"><i class = "fa fa-credit-card"></i> Balance</a></li>
        </ul>
    </div>
</footer>

<script src = "__PUBLIC__/js/jquery.min.js"></script>
<script src = "__PUBLIC__/js/bootstrap.min.js"></script>